.wrap {
    background-color: blue;
    padding: 10px;
    width: 600px;
}

.list {
    display: flex;
    gap: 20px;

    li {
        display: flex;
        justify-content: center;
        width: 200px;
        height: 100vh;
        border: 1px solid black;
    }
}