.wrapper {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    background-color: blueviolet;
}

.boards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    gap: 20px;
    background-color: #7680ca;
}